.centVer{
    text-align: center;
    margin: 10px 0;
}
.ocultar{
    display: none;
    
}

.tamInputs{
    width: 30px;
    height: 30px;
    background-image: url(../img/facingDown.png);
    background-size: 30px 30px;
}

#cuerpo{
    
    background-color: burlywood;
}

#titulo{
    text-align: center;
    
}

#imgBomba{
    width: 33%;
}

#imgexpl{
    width: 33%;
    
}
#tablaTablero{
    margin:0 auto;
}